
.profile-wrapper {
    margin-top: 1%;
    display: flex; /* Para centrar la imagen dentro del círculo */
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #75bcff;
    border-radius: 50%;
    overflow: hidden;
    padding: 0.33%;
  }
  
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(50%);
    -webkit-clip-path: circle(50%);
      
}

h1 {
    text-align: center;
    margin-top: 0%;
    font-size: 2.5em;
    color:#75bcff;
    font-family: system-ui, sans-serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color:#f3f6f8;
    font-family: system-ui, sans-serif;
    font-weight: bold;
}
