#links{
    margin-top:1%;
}
#links h2{
    color: #75bcff;
}
#links .divider {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%; /* Espacio entre los botones */
    width: 100%;
}

#links .divider a {
    display: flex;
    align-items: space-between;
    justify-content: center;
    font-family: system-ui, sans-serif;
    padding: .5em;
}

#links .divider a button{
    background-color: #75bcff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: .5em 1em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s;
}

@media (max-width: 768px) {
    #links .divider {
        flex-direction: column;
        gap: 2%;
    }

    #links .divider a button {
        width: 100%;
        margin-bottom: 1em;
    }
}