.custom-border-bg{
    border-color: #75bcff !important;
}

#Technologies .title{
    color: #75bcff;
}
#Technologies{
    margin-top: 3%;
    font-family: system-ui, sans-serif;
    color:white;
    margin-left:10%;
    margin-right: 10%;
    padding: 2%;
}

h3{
    font-size: 1.5em;
    font-weight:bold;
    text-align: left;
}

p{
    margin-right: 10%;
    width:100%;
}